rules_version = '2'; 

service cloud.firestore {
	match /databases/{database}/documents {
    // menu reports 
    match /menu_reports/{docId} { 
      allow create: if request.auth != null 
                    && request.auth.token.email_verified == true 
                    && request.auth.token.email.matches('^.*@gatech\\.edu$');
      allow read: if true; 
    }
    
    // bug reports
    match /bug_reports/{docId} {
      allow create: if request.auth != null
                    && request.auth.token.email_verified == true
                    && request.auth.token.email.matches('^.*@gatech\\.edu$');
      allow read: if request.auth != null; // or adjust for admin
    }

    // users profile docs (one per uid)
    match /users/{uid} {
      allow create: if request.auth != null && request.auth.uid == uid;
      allow read: if request.auth != null && request.auth.uid == uid;
      allow update: if request.auth != null && request.auth.uid == uid;
    }
	}
}
